services:
  traefik:
    image: traefik:v3.6.7
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - traefik_certs:/certs
      - /app/certs:/app/certs:ro
      - /app/certs/root_ca.crt:/etc/ssl/step/root_ca.crt:ro
      - ./traefik.yml:/traefik/traefik.yml:ro
      - ./dynamic.yml:/traefik/dynamic.yml:ro
    command:
      - --configFile=/traefik/traefik.yml
    environment:
      - SSL_CERT_FILE=/etc/ssl/step/root_ca.crt
    networks:
      - traefik-network
    deploy:
      mode: global
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: any

volumes:
  traefik_certs:

networks:
  traefik-network:
    external: true
